<div class="accordion-wrap" ng-class="{expanded: vm.expanded}">
    <div class="accordion-heading" ng-click="vm.toggle()">
        <i ng-if="icon" class="icon fa" ng-class="{'pull-right': iconPosition === 'right'}"></i>
        <span ng-bind-html="vm.heading"></span>
    </div>
    <div class="accordion-body-wrap" ng-show="vm.expanded">
        <div class="accordion-body" ng-transclude></div>
    </div>
</div>