@import '~@thooka/theme-variable/variable.scss';
@import '~@thooka/mixins/vendor.scss';
@import '~@thooka/mixins/animate.scss';

:global {
    ui-accordion {
        .panel {
            .panel-heading {
                background: $accordion-heading-bg;

                .panel-title {
                    display: block;

                    a {
                        display: block;
                        text-decoration: none;
                    }
                    a:focus {
                        outline:none;
                    }
                }
            }
        }

        .panel.panel-open {
            .panel-heading {
                background: $accordion-open-heading-bg;
                color: $accordion-open-heading-color;
            }
        }
    }


    .accordion-group  {
        border: none;
        border-radius: 4px;
        @include vendor(box-shadow, 3px 3px 0 rgba(0, 0, 0, 0.04));
        position: relative;
        background: $white;
        overflow: hidden;

        .accordion-wrap {
            border-bottom: 1px solid $gray-lightest;

            .accordion-heading {
                background: #f4f4f4;
                padding: 10px 15px;
                cursor: pointer;
                @include transition();

                &:hover {
                    background: #f8f8f8;
                }

                .icon {
                    float: left;
                    margin: 2px 10px 0 0;

                    &:before {
                        font-family: $font-family-icon;
                        content: "\f105";
                        @include transition();
                    }
                }
            }

            &.expanded .accordion-heading {
                background: $blue;
                color: $white;

                .icon {
                    @include vendor-property(transform, rotate(90deg));
                }
            }

            .accordion-body {
                padding: 10px 15px;
            }
        }
    }
}

